{% extends 'base.html' %}

{% block title %}申請詳細{% endblock %}

{% block navbar %}
<ul class="navbar-nav mr-auto">
    <li class="nav-item activate">
        <a class="nav-link" href="{% url 'records' %}">出勤簿</a>
    </li>
    <li class="nav-item activate">
        <a class="nav-link" href="{% url 'fix_request' %}">打刻修正</a>
    </li>
    <li class="nav-item activate">
        <a class="nav-link" href="{% url 'fix_acception' %}">打刻承認</a>
    </li>
</ul>
<span class="navbar-text">
    <a href="{% url 'logout' %}">ログアウト</a>
</span>
{% endblock %}

{% block content %}
<h1>{{ user_name }}</h1>
<h2>総合計時間：{{ total_time }}</h2>
<img class="float-right" src="data:image/png;base64,{{ chart | safe }}">
{% endblock %}