<!-- APIにより天候情報を取得する場合 -->

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<div class="mt-5">
    <h2 class="text-center">{{ current_weather.temperature }}°C</h2>
    <h2 class="text-center">{{ current_weather.weather_str }}</h2>
    <div class="table-responsive">
        <table class="table table-bordered text-center">
            <thead></thead>
            <tbody>
                <tr>
                    <th>時</th>
                    {% for time in time_list %}
                    <td>{{ time }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th scope="row">温湿</th>
                    <!-- Django-Boostのテンプレートタグ -->
                    {% load boost %}
                    {% for temperature, relativehumidity in temperature_from_now_list|zip:relativehumidity_from_now_list %}
                    <td>{{ temperature }}°C<br>{{ relativehumidity }}％</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div>
    <img src="data:image/png;base64,{{ temperature_grelativehumidity_graph | safe }}">
</div>
<div>
    <img src="data:image/png;base64,{{ temperature_grelativehumidity_mix_graph | safe }}">
</div>
<div class="mobile-scroll mb-5">
    <img src="data:image/png;base64,{{ temperature_grelativehumidity_mix_week_graph | safe }}">
</div>

<style>
    /* テーブルを横スクロールさせる */
    .table th:first-child{
        position: sticky;
        left: 0;
        background-color: gray;
    }

    /* 横スクロールさせる */
    .mobile-scroll {width: 100%; overflow-x: scroll;}
</style>