<table class="table mt-4">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col" id="today"></th>
            <th scope="col" id="tomorrow"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">天気</th>
            <td>{{ today_weather }}</td>
            <td>{{ tomorrow_weather }}</td>
        </tr>
        <tr>
            <th scope="row">最高温度<br>最低温度</th>
            <!-- linebreaksbr:pythonの改行コード「\n」を「<br/>」に変換 -->
            <td>{{ today_temp|linebreaksbr}}</td>
            <td>{{ tomorrow_temp|linebreaksbr}}</td>
        </tr>
        <tr>
            <th scope="row">洗濯</th>
            <td>{{ today_Washing }}</td>
            <td>{{ tomorrow_Washing }}</td>
        </tr>
        <tr>
            <th scope="row">傘</th>
            <td>{{ today_umbrella }}</td>
            <td>{{ tomorrow_umbrella }}</td>
        </tr>
        <tr>
            <th scope="row">紫外線</th>
            <td>{{ today_uv }}</td>
            <td>{{ tomorrow_uv }}</td>
        </tr>
        <tr>
            <th scope="row">重ね着</th>
            <td>{{ today_clothes }}</td>
            <td>{{ tomorrow_clothes }}</td>
        </tr>
        <tr>
            <th scope="row">乾燥</th>
            <td>{{ today_dry }}</td>
            <td>{{ tomorrow_dry }}</td>
        </tr>
        <tr>
            <th scope="row">風邪注意</th>
            <td>{{ today_cold }}</td>
            <td>{{ tomorrow_cold }}</td>
        </tr>
    </tbody>
</table>