{% extends 'base.html' %}

{% block title %}Login{% endblock %}

<!-- % block content % -->
<!-- <h2>ログイン</h2> -->
<!-- <form method="post"> -->
<!-- {% csrf_token %} -->
<!-- {{ form.as_p }}はDjango側で定義したフォームオブジェクトをHTML上に出力するために使用 -->
<!-- {{ form.as_p }} -->
<!-- <button type="submit">Login</button> -->
<!-- </form> -->
<!-- % endblock % -->

<!-- Bootstrapのデザインを画面に適用 -->
{% block content %}
<h2>ログイン</h2>
<form method="post">
    {% csrf_token %}
    <!-- 認証に失敗したときのメッセージを表示 -->
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
        {{ error }}
        </div>
    {% endfor %}
    <input type="text" id="inputUserName" name="username" class="form-control" placeholder="ユーザー名" required autofocus>
    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="パスワード" required>
    <button class="btn btn-lg btn-primary my-1" type="submit">ログイン</button>
</form>
    <!-- jobpit_env/jobpit/accounts/urls.py -->
    <!-- path('signup/', SignUpView.as_view(), name='signup') -->
    <p>アカウントをお持ちではないですか？<a href="{% url 'signup' %}">サインアップ</a></p>
{% endblock %}
