{% extends 'base.html' %}

{% block title %}申請詳細{% endblock %}

{% block navbar %}
<ul class="navbar-nav mr-auto">
    <li class="nav-item activate">
        <a class="nav-link" href="{% url 'records' %}">出勤簿</a>
    </li>
    <li class="nav-item activate">
        <a class="nav-link" href="{% url 'fix_request' %}">打刻修正</a>
    </li>
    <li class="nav-item activate">
        <a class="nav-link" href="{% url 'fix_acception' %}">打刻承認</a>
    </li>
</ul>
<span class="navbar-text">
    <a href="{% url 'logout' %}">ログアウト</a>
</span>
{% endblock %}

{% block content %}
{% csrf_token %}
<h2>申請詳細</h2>
<!-- 申請ID -->
<div class="form-group row">
    <div class="col-4">
        <label for="control-label">申請ID</label>
    </div>
    <div class="col-6">
        <p id="request_id">{{ request_detail.pk }}</p>
    </div>
</div>
<!-- 申請者 -->
<div class="form-group row">
    <div class="col-4">
        <label for="control-label">申請者</label>
    </div>
    <div class="col-6">
        <p>{{ request_detail.user.username }}</p>
    </div>
</div>
<!-- 打刻種別 -->
<div class="form-group row">
    <div class="col-4">
        <label for="control-label">打刻種別</label>
    </div>
    <div class="col-6">
        {% if request_detail.get_stamp_type_display == 'attendance' %}
        <p>出勤</p>
        {% elif request_detail.get_stamp_type_display == 'leave' %}
        <p>退勤</p>
        {% endif %}
    </div>
</div>
<!-- 修正日時 -->
<div class="form-group row">
    <div class="col-4">
        <label for="control-label">修正日時</label>
    </div>
    <div class="col-6">
        <p>{{ request_detail.revision_time }}</p>
    </div>
</div>
<!-- 修正理由 -->
<div class="form-group row">
    <div class="col-4">
        <label for="">修正理由</label>
    </div>
    <div class="col-6">
        <p>{{ request_detail.reason }}</p>
    </div>
</div>
<div class="container my-2 row">
    <div class="col-6">
        <button class="btn btn-success accept_reject_button" value="accept">承認</button>
    </div>
    <div class="col-6">
        <button class="btn btn-danger accept_reject_button" value="reject">却下</button>
    </div>
</div>

<script>
    console.log('acception_detail');

    $('.accept_reject_button').on('click', function() {
        console.log('buttonクリック');
        // 押下したボタンのvalueを取得('accept'又は'reject')
        var btn_value = $(this).val();
        var request_id = $('#request_id').text();
        console.log(btn_value);
        console.log(request_id);
        console.log(typeof(request_id));

        $.ajax({
            url: "{% url 'push_acception' %}",
            method: "POST",
            dataType: 'json',
            timeout: 5000,
            data: {
                btn_value: btn_value,
                request_id:request_id
            },
            beforeSend:function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    var csrfToken = getCookie("csrftoken");
                    xhr.setRequestHeader("X-CSRFToken", csrfToken);
                }
            }
        })
        .done(function(data) {
            console.log('成功');
            console.log(data);
            console.log(data.result);
            if (data.result == 'acception_exists') {
                alert('すでに確認されています')
            } else if (data.result == 'OK') {
                alert('処理を完了しました')
            } else if (data.result == 'NG') {
                alert('出勤情報がありません')
            }
        })
        .fail(function(XMLHttpRequest, textStatus, textStatus) {
            console.log('失敗');
        })
    })
</script>
{% endblock %}