<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <title>{% block title %}Jobpit{% endblock %}</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Jobpit</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- navbar用にブロックを入れている理由は今自分がアクセスしているページを開いているときはそのページのリンクをページ毎に無効にするため -->
            {% block navbar %}
            {% endblock %}
        </div>
        </nav>
        <main>
        <div class="mx-auto" style="width: 500px;" id="standard_mx-auto">
            <!-- block：子となるHTMLをはめ込む -->
            {% block content %}
            {% endblock %}
        </div>
        <script>
            jQuery(function() {
                // 先頭の「/」を削除してパスを取得する
                pathname = location.pathname
                pathname_slice = pathname
                pathname_slice = pathname_slice.slice(1)
                var arr_path = pathname_slice.split('/')
                // 勤怠時間のグラフを表示する画面の場合は横幅を「1000px」に変更
                if (arr_path[0] == 'graph_attendances') {
                    $('#standard_mx-auto').css('width', '1200px');
                // トップ画面を表示する場合は横幅を「600px」に変更
                } else if (pathname == '/') {
                    $('#standard_mx-auto').css('width', '800px');
                // 修正申請一覧画面
                } else if (
                    // pathnameの中に文字列「/fix_request/acception/sort」を含まない場合は「-1」を返す
                    pathname == '/fix_request/acception' || pathname == '/fix_request/acception/search' || pathname.indexOf('/fix_request/acception/sort') != -1 ) {
                    $('#standard_mx-auto').css('width', '900px');
                }
            })

            // https://own-search-and-study.xyz/2017/11/12/django%E3%81%A7post%E3%83%A1%E3%83%83%E3%82%BB%E3%83%BC%E3%82%B8%E3%81%ABcsrftoken%E3%82%92%E5%90%AB%E3%81%BE%E3%81%9B%E3%82%8B%E6%96%B9%E6%B3%95%E3%81%BE%E3%81%A8%E3%82%81/
            // POSTリクエストにはCookieに含まれるcsrftokenの情報が含まれていなければいけない（無い場合にはリクエストを拒否する）仕様
            function csrfSafeMethod(method) {
                // これらのHTTPメソッドはCSRF保護を必要としません
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            // csrf_tokenを取得する
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                    }
                }
                return cookieValue;
            }
        </script>
        </main>
    </body>
</html>