{% extends 'base.html' %}

{% block title %}打刻修正{% endblock %}

{% block navbar %}
<ul class="navbar-nav mr-auto">
    <li class="nav-item activate">
        <a class="nav-link" href="{% url 'records' %}">出勤簿</a>
    </li>
    <li class="nav-item activate">
        <a class="nav-link disabled">打刻修正</a>
    </li>
    {% if request.user.is_staff %}
    <li>
        <a class="nav-link" href="{% url 'fix_acception' %}">打刻承認</a>
    </li>
    {% endif %}
</ul>
<span class="navbar-text">
    <a href="{% url 'logout' %}">ログアウト</a>
</span>
{% endblock %}

{% block content %}
{% csrf_token %}
<h1>打刻修正</h1>
<!-- https://qiita.com/zaburo/items/8983993d173c51cb3827 -->
<!-- form-groupでcontrol-labelとform-controlを囲む -->
<!-- <div class="form-group row"> -->
    <!-- <label for="control-label"></label> -->
    <!-- <input class="form-control" type="" id=""> -->
<!-- </div> -->

<form id="form">
    <!-- 日付 -->
    <div class="form-group row">
        <!-- https://tech.speee.jp/entry/2018/05/10/113200 グリッドシステム-->
        <div class="col-4">
            <label for="control-label">日付</label>
        </div>
        <div class="col-6">
            <input class="form-control" type="date" id="push_date">
        </div>
    </div>
    <!-- 打刻の種類 -->
    <div class="form-group row">
        <div class="col-4">
            <label for="control-label">打刻の種類</label>
        </div>
        <div class="col-6">
            <select class="form-control" id="push_type">
                <option value="AT">出勤</option>
                <option value="LE">退勤</option>
            </select>
        </div>
    </div>
    <!-- 修正時刻 -->
    <div class="form-group row">
        <div class="col-4">
            <label for="control-label">修正時刻</label>
        </div>
        <div class="col-6">
            <input class="form-control" type="time" id="push_time">
        </div>
    </div>
    <!-- 修正理由 -->
    <div class="form-group row">
        <div class="col-4">
            <label for="">修正理由</label>
        </div>
        <div class="col-6">
            <textarea class="form-control" id="push_reason" rows="5"></textarea>
        </div>
    </div>
    <!-- 申請ボタン -->
    <div class="form-group row justify-content-center">
        <!-- https://getbootstrap.jp/docs/5.0/components/buttons/ -->
        <button type="button" id="submit_request" class="btn btn-success btn-lg col-6">申請</button>
    </div>
</form>

<h2>申請一覧</h2>
{% if fix_requests %}
<!-- class="table":Bootstrap -->
<table class="table">
    <thead>
        <tr>
            <th scope="col">日付</th>
            <th scope="col">打刻の種類</th>
            <th scope="col">修正時刻</th>
            <th scope="col">申請状況</th>
        </tr>
    </thead>
    <tbody>
    {% for fix_request in fix_requests %}
        <tr>
            <!-- 日付 -->
            <td>{{ fix_request.date }}</td>
            <!-- 打刻の種類 -->
            {% if fix_request.stamp_type == 'attendance' %}
            <td>出勤</td>
            {% elif fix_request.stamp_type == 'leave' %}
            <td>退勤</td>
            {% endif %}
            <!-- 修正時刻 -->
            <td>{{ fix_request.revision_time }}</td>
            <!-- 申請状況 -->
            {% if fix_request.request_status == 'accepted' %}
            <td>承認</td>
            {% elif fix_request.request_status == 'rejected' %}
            <td>却下</td>
            {% else %}
            <td>申請中</td>
            {% endif %}
        </tr>
    </tbody>
    {% endfor %}
</table>
{% endif %}

<script>
console.log('打刻修正.script')
$('#submit_request').on('click', function() {
    // 日付
    console.log('push_date:' + $('#push_date').val());
    // 打刻の種類
    console.log('push_type:' + $('#push_type').val());
    // 修正時刻
    console.log('push_time:' + $('#push_time').val());
    // 修正理由
    console.log('push_reason' + $('#push_reason').val());

    // フォームのバリデーション
    var count = 0;
    warning = [];
    // セレクタのものがループされる
    jQuery('#push_date, #push_type, #push_time, #push_reason').each(function() {
        // console.log(this);
        var push_value = jQuery(this).val();
        console.log(count)
        if (push_value === '') {
            switch (count) {
                case 0:
                    warning.push('日付が選択されていません');
                    break;
                case 1:
                    warning.push('出勤・退勤が選択されていません');
                    break;
                case 2:
                    warning.push('修正時刻が選択されていません');
                    break;
                case 3:
                    warning.push('修正理由が入力されていません');
                    break;
            }
        }
        count++;
    })

    // 入力されていない項目がある場合はalert表示
    if (warning.length !== 0) {
        alert(warning.join('\n'))
    } else {
        // 項目がすべて入力されている場合：申請処理
        $.ajax({
            url: "{% url 'fix_request' %}",
            method: 'POST',
            dataType: 'json',
            timeout: 5000,
            data: {
                push_date: $('#push_date').val(),
                push_type: $('#push_type').val(),
                push_time: $('#push_time').val(),
                push_reason: $('#push_reason').val()
            },
            beforeSend:function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    var csrfToken = getCookie("csrftoken");
                    xhr.setRequestHeader("X-CSRFToken", csrfToken);
                }
            }
        })
        .done(function(data) {
            alert('申請しました')
            console.log(data);
        })
        .fail(function(XMLHttpRequest, textStatus, textStatus) {
            alert('問題が発生しました');
            // 失敗した原因を出力
            // console.log('XMLHttpRequest: ' + XMLHttpRequest.status);
            // console.log('textStatus: ' + textStatus);
            // console.log('errorThrown: ' + errorThrown.message);
        })
    }
})
</script>

{% endblock %}