<!-- base.htmlを継承 -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block navbar %}
<ul class="navbar-nav mr-auto">
    <li class="nav-item activate">
        <a class="nav-link" href="{% url 'records' %}">出勤簿</a>
    </li>
    <li class="nav-item activate">
        <a class="nav-link" href="{% url 'fix_request' %}">打刻修正</a>
    </li>
    {% if request.user.is_staff %}
    <li>
        <a class="nav-link" href="{% url 'fix_acception' %}">打刻承認</a>
    </li>
    {% endif %}
    <li>
        <a class="nav-link" href="{% url 'data' %}">データ設定</a>
    </li>
</ul>
<span class="navbar-text">
    <a href="{% url 'logout' %}">ログアウト</a>
</span>
{% endblock %}

<!-- 親のテンプレート(base.htmlの)「block content」にはめ込む -->
<!-- % block content % -->
<!-- % if user.is_authenticated % -->
<!-- <p>こんにちは、{{ user.username }}さん!</p> -->
<!-- Djangoで標準提供されている機能 -->
<!-- <a href="{% url 'logout'%}">Log Out</a> -->
<!-- % else % -->
<!-- <p>ログインしてません</p> -->
<!-- Djangoで標準提供されている機能 -->
<!-- <a href="{% url 'login' %}">Log In</a> -->
<!-- % endif % -->
<!-- % endblock % -->

{% block content %}
    <h2>こんにちは{{ user.username }}さん！</h2>
    <div class="row justify-content-md-center bg-light">
        <h2 id="myClock1"></h2>
    </div>
    <div class="row justify-content-md-center bg-light">
        <h1 class="display-4" id="myClock2"></h1>
    </div>
    <div class="container my-3">
        <div class="row">
            <div class="d-grid gap-2 mx-auto">
                <button id="attendance_button" type="button" class="btn btn-lg btn-success">出勤</button>
            </div>
            <div class="d-grid gap-2 mx-auto">
                <button id="leave_button" type="button" class="btn btn-lg btn-danger">退勤</button>
            </div>
        </div>
    </div>
    <div id="push_result" class="alert" role="alert" style="display:none"></div>

    <!-- webスクレイピングにより取得する天気情報などを表示するテーブルはparts/scraping_weatherに移動 -->

    <!-- APIにより天候情報を取得する場合 -->
    {% include 'parts/api_weather.html' %}

<script>
    console.log('script読み込み成功：home.html');

    function updateClock() {
        // 現在時分秒を取得
        var now = new Date();
        var year = now.getFullYear();
        var month = now.getMonth() + 1;
        var today_month = month
        var date = now.getDate();
        var today_date = date
        var dayOfWeekNum = now.getDay()
        var hour = now.getHours();
        var minute = now.getMinutes();
        var second = now.getSeconds();

        // 明日の月,日,曜日を取得
        var tomorrow = new Date(now)
        tomorrow.setDate(tomorrow.getDate() + 1)
        var tomorrow_month = tomorrow.getMonth() + 1;
        var tomorrow_date = tomorrow.getDate();
        var tomorrow_dayOfWeekNum = tomorrow.getDay()

        // 2桁表示
        if (month < 10)
            month = "0" + month;
        if (date < 10)
            date = "0" + date;
        if (hour < 10)
            hour = "0" + hour;
        if (minute < 10)
            minute = "0" + minute;
        if (second < 10)
            second = "0" + second;

        // 曜日
        var dayOfWeek = [
            '日', '月', '火', '水', '木', '金', '土'
        ]
        var dayOfWeekStr = dayOfWeek[dayOfWeekNum];
        var tomorrow_dayOfWeekStr = dayOfWeek[tomorrow_dayOfWeekNum];

        // innerHTMLプロパティは、要素内の HTML または XML のマークアップを取得したり設定したりします。
        document.getElementById('myClock1').innerHTML
            = year + '年' + month + '月' + date + '日' + '（' + dayOfWeekStr + '）';
        document.getElementById('myClock2').innerHTML
            = hour + ':' + minute + ':' + second;

        document.getElementById('today').innerHTML
            = today_month + '月' + today_date + '日' + '（' + dayOfWeekStr + '）';
        document.getElementById('tomorrow').innerHTML
            = tomorrow_month + '月' + tomorrow_date + '日' + '（' + tomorrow_dayOfWeekStr + '）';
    }
    // 1秒ごとにupdateClock()を実行
    setInterval("updateClock();", 1000);

    // 出勤ボタン押下
    $('#attendance_button').on('click', function() {
        console.log('attendance_buttonクリック');
        // removeClass:クラスを削除
        // alert-dangerクラスはブートストラップ
        // https://webnetamemo.com/coding/bootstrap3/201702264279
        $('#push_result').removeClass('alert-danger');
        // alert-infoクラスはブートストラップ
        $('#push_result').removeClass('alert-info');
        // hide():HTML要素を非表示にする
        $('#push_result').hide();

        $.ajax({
            url: "{% url 'push' %}",
            method: "POST",
            dataType: 'json',
            timeout: 5000,
            data: {
                push_type: 'attendance'
            },
            beforeSend: function(xhr, settings) {
            // POST:Ajax通信の前に処理を実行
                // XMLHttpRequesのインスタンス
                console.log('xhr:', xhr);
                // HTTPリクエストを使用してデータを取得
                // https://stacktrace.jp/jquery/api/ajax/jquery.ajax.html
                // console.log('settings:', settings.type)//→　POST

                // console.log('this.crossDomain:', this.crossDomain)// false
                // console.log('!csrfSafeMethod(settings.type):', !csrfSafeMethod(settings.type))
                // csrfSafeMethod関数、getCookie関数: base.htmlに記載
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    var csrfToken = getCookie("csrftoken");
                    // XMLHttpRequestのsetRequestHeader()メソッドは、HTTPリクエストヘッダーの値を設定する
                    xhr.setRequestHeader("X-CSRFToken", csrfToken);
                }
            }
        })
        .done(function(data) {
            console.log('出勤:ajax成功')
            console.log(data)
            console.log(data.attendance_time)
            if (data.result === 'success') {
                // text():要素内の文字列を取得/設定
                $('#push_result').text('出勤しました: ' + data.attendance_time);
                $('#push_result').addClass('alert-info');
                // show():HTML要素を表示する
                $('#push_result').show()
            } else {
                console.log('すでに打刻しています')
                $('#push_result').text('すでに打刻しています');
                $('#push_result').addClass('alert-danger');
                $('#push_result').show();
            }
        })
        .fail(function() {
            console.log('出勤:ajax失敗')
        })
    })

    // 退勤ボタン押下
    $('#leave_button').on('click', function() {
        console.log('leave_buttonクリック');
        // addClass:クラスを追加
        $('#push_result').addClass('alert-danger');
        $('#push_result').addClass('alert-info');
        $('#push_result').hide();

        $.ajax({
            url: "{% url 'push' %}",
            method: "POST",
            dataType: 'json',
            timeout: 5000,
            data: {
                push_type: 'leave'
            },
            beforeSend: function(xhr, settings) {
            // Ajax通信の前に処理を実行
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    var csrfToken = getCookie("csrftoken");
                    xhr.setRequestHeader("X-CSRFToken", csrfToken);
                }
            }
        })
        .done(function(data) {
            console.log('退勤:ajax成功')
            console.log(data)
            console.log(data.leave_time)
            if (data.result === 'success') {
                console.log('退勤しました')
                $('#push_result').text('退勤しました: ' + data.leave_time)
                $('#push_result').show()
            } else if (data.result == 'not_attended') {
                $('#push_result').text('まだ出勤打刻がされていません');
                $('#push_result').addClass('alert-danger');
                $('#push_result').show();
            } else {
                $('#push_result').text('すでに退勤打刻されています');
                $('#push_result').addClass('alert-danger');
                $('#push_result').show();
            }
        })
        .fail(function() {
            console.log('退勤:ajax失敗')
        })
    })

</script>

{% endblock %}