<div class="pagination">
    <span class="step-links">
        {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}">前のページ</a>
        {% endif %}
    <span class="current">
        Page {{ page.number }} / {{ page.paginator.num_pages }}.
    </span>
        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}">次のページ</a>
        {% endif %}
    </span>
</div>
<script>
    console.log('pagination');
</script>