{% extends 'base.html' %}

{% block title %}申請一覧{% endblock %}

{% block navbar %}
<ul class="navbar-nav mr-auto">
    <li class="nav-item activate">
        <a class="nav-link" href="{% url 'records' %}">出勤簿</a>
    </li>
    <li class="nav-item activate">
        <a class="nav-link" href="{% url 'fix_request' %}">打刻修正</a>
    </li>
    <li>
        <a class="nav-link disabled">打刻承認</a>
    </li>
</ul>
<span class="navbar-text">
    <a href="{% url 'logout' %}">ログアウト</a>
</span>
{% endblock %}

{% block content %}
<h2>修正申請一覧</h2>
<!-- formタグ内でsubmit先が異なる複数のbuttonを使う場合、「action="?"」とする -->
<!-- https://qiita.com/saku__saku/items/1fd16b5209e593e668b0 -->
<form method="get" action="?">
<div class="d-flex">
    <div>
        <div>
            <label for="name" class="font-weight-bold">ユーザー名：</label>
            <input type="text" id="name" name="name" value="{{ input_name }}">
        </div>
        <div>
            <!-- カレンダー表示 -->
            <label for="target_ymd" class="font-weight-bold ml-5">対象日：</label>
            <input type="date" id="target_ymd" name="target_ymd" value="{{ input_target_ymd }}">
        </div>
        <div>
            <!-- カレンダー表示 -->
            <label for="request_ymd" class="font-weight-bold ml-5">申請日：</label>
            <input type="date" id="request_ymd" name="request_ymd" value="{{ input_request_ymd }}">
        </div>
        <div class="mb-2">
            <label for="situation" class="font-weight-bold ml-5">状況：</label>
            <select name="situation" id="situation">
                <option value="" selected></option>
                <option value="not_checked">未確認</option>
                <option value="accepted">承認</option>
                <option value="rejected">却下</option>
            </select>
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-primary mt-5 ml-5" id="search" formaction="{% url 'acception_search' %}">検索</button>
    </div>
    <div>
        <!-- javaScript:void(0)を指定するとリロードせずにJSを実行可能 -->
        <a href="javaScript:void(0)" class="btn btn-warning mt-5 ml-2" id="commonization_reset">リセット</a>
    </div>
</div>
<p class="text-center" style="font-size: 20px;">{{ count }}件</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">申請ID</th>
            <th scope="col">ユーザー名</th>
            <th scope="col">対象日<br>
                <button class="table_button" type="submit" formaction="{% url 'acception_sort_asc_by_target_time' %}" style="font-size: 12px;">新しい順</button>
                <button class="table_button" type="submit" formaction="{% url 'acception_sort_des_by_target_time' %}" style="font-size: 12px;">古い順</button>
            </th>
            <th scope="col">打刻種別</th>
            <th scope="col">
                申請日時<br>
                <button class="table_button" type="submit" formaction="{% url 'acception_sort_asc_by_request_time' %}" style="font-size: 12px;">新しい順</button>
                <button class="table_button" type="submit" formaction="{% url 'acception_sort_des_by_request_time' %}" style="font-size: 12px;">古い順</button>
            </th>
            <th scope="col">確認状況</th>
            <th scope="col"><button type="button" class="btn btn-danger" id="delete_btn">削除</button></th>
        </tr>
    </thead>
    {% if fix_acceptions %}
    <tbody class="table_body">
        {% for fix_acception in fix_acceptions %}
        <tr>
            <!-- url 'URL名' パラメータ -->
            <td><a href="{% url 'acception_detail' fix_acception.id %}">{{ fix_acception.id }}</a></td>
            <td>{{ fix_acception.user_name }}</td>
            <td>{{ fix_acception.target_date}}</td>
            {% if fix_acception.request_type == 'AT' %}
            <td>出勤</td>
            {%  else %}
            <td>退勤</td>
            {% endif %}
            <td>{{ fix_acception.request_time }}</td>
            {% if fix_acception.request_status == 'not_checked' %}
            <td>未確認</td>
            {% elif fix_acception.request_status == 'rejected' %}
            <td>却下</td>
            {%  else %}
            <td>承認</td>
            {% endif %}
            {% if fix_acception.request_status == 'not_checked' %}
            <td >
                <div class="form-check mx-auto">
                    <input class="form-check-input mx-auto" type="checkbox" value="" disabled>
                </div>
            </td>
            {% else %}
            <td>
                <div class="form-check">
                    <input class="form-check-input mx-auto delete_check" type="checkbox" value="" id="delete_check_{{ fix_acception.id }}">
                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
</form>
{% else %}
<p>申請がありません</p>
{% endif %}

<div class="mb-5">
    {% include "pagination.html" with page=fix_acceptions %}
</div>

<script>
console.log('申請一覧.script');

jQuery(function() {
    // 検索条件の保持 状況
    var situation = "{{ input_situation }}"
    console.log(situation)
    $('#situation').val(situation)

    // 取得データの件数が０件の場合、並び替えボタンを表示しない
    var count = "{{ count }}"
    if (count == 0) {
        $('.table_button').remove();
    }

    // 一覧表示するレコードのidを取得
    // 文字列で取得
    var str_id_list = "{{ id_list }}"
    // 先頭と最後の「[]」を削除.文字列の「', '」で区切りリストに入れる
    id_list = str_id_list.slice(1, -1).split(', ')

})

// 検索条件をリセット
$('#commonization_reset').on('click', function() {
    console.log('リセットボタン押下');
    $('#name').val('');
    $('#target_ymd').val('');
    $('#request_ymd').val('');
    $('#situation').val('');
})

// 削除のチェックボックスにチェックされたレコードのidを取得
delete_list = []
$('.delete_check').on('click', function() {
    var id =  $(this).attr("id");
    // $.inArray(検索値, 配列):要素が見つからなかった場合には、$.inArrayメソッドは-1を返す。
    if (-1 == $.inArray(id, delete_list)) {
        delete_list.push(id)
    } else {
        // 既に削除対象のリストに追加されているものと同じidが選択された場合、リストから削除
        $.each(delete_list, function(i, delete_id) {
            if (id == delete_id) {
                delete_list.splice(i, 1)
            }
        })
    }
    console.log(delete_list);
})

// 削除ボタンを押下
$('#delete_btn').on('click', function() {
    ajax_request_id_list = []
    $.each(delete_list, function(i, delete_id) {
        var split_delete_id = delete_id.split('_')
        id = split_delete_id[split_delete_id.length - 1]
        ajax_request_id_list.push(id)
    })
    console.log(ajax_request_id_list);

    // 削除のチェックボックスに１つ以上チェックがある場合
    if (ajax_request_id_list.length !== 0) {
        // 確認ウィンドウを表示
        var checked = confirm("削除してよろしいでしょうか");
        //「キャンセル」を押下した場合
        if (checked == true) {
            // 「OK」を押下した場合
            console.log(ajax_request_id_list);
            $.ajax({
                url: "{% url 'fix_request_delete' %}",
                method: 'POST',
                dataType: 'json',
                timeout: 5000,
                data: {
                    delete_list: ajax_request_id_list
                },
                beforeSend:function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        var csrfToken = getCookie("csrftoken");
                        xhr.setRequestHeader("X-CSRFToken", csrfToken);
                    }
                }
            })
            .done(function(data) {
                console.log(data);
                alert('削除しました')
                // 画面リロード
                location.reload();
            })
            .fail(function(XMLHttpRequest, textStatus, textStatus) {
                alert('削除に失敗しました')
            })
        }
    // 削除のチェックボックスにチェックがない場合
    } else {
        alert('削除対象にチェックを入れて下さい')
    }
})

</script>
{% endblock %}