{% extends 'base.html' %}

{% block title %}データ設定{% endblock %}

{% block navbar %}
<ul class="navbar-nav mr-auto">
    <li class="nav-item activate">
        <a class="nav-link" href="{% url 'records' %}">出勤簿</a>
    </li>
    <li class="nav-item activate">
        <a class="nav-link" href="{% url 'fix_request' %}">打刻修正</a>
    </li>
    <li class="nav-item activate">
        <a class="nav-link" href="{% url 'fix_acception' %}">打刻承認</a>
    </li>
</ul>
<span class="navbar-text">
    <a href="{% url 'logout' %}">ログアウト</a>
</span>
{% endblock %}

{% block content %}
{% csrf_token %}
<h2>データ登録</h2>
<form>
    <!-- 作成ユーザー数 -->
    <div class="form-group row">
        <div class="col-4">
            <label for="control-label">作成ユーザー数</label>
        </div>
        <div class="col-4">
            <select class="form-control" id="number_of_people">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>
    </div>
    <!-- 作成期間 -->
    <div class="form-group row">
        <div class="col-4">
            <label for="control-label">作成期間（何ヶ月）</label>
        </div>
        <div class="col-4">
            <select class="form-control" id="period">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
        </div>
    </div>
    <!-- 修正申請 -->
    <div class="form-group row">
        <div class="col-4">
            <label for="control-label">修正申請</label>
        </div>
        <div class="col-2">
            <input class="form-control" type="checkbox" id="fix_request" value="0" disabled>
        </div>
    </div>
    <!-- 修正申請諾否 -->
    <div class="form-group row">
        <div class="col-4">
            <label for="control-label">修正申請の諾否</label>
        </div>
        <div class="col-2">
            <input class="form-control" type="checkbox" id="fix_request_accept" value="0" disabled>
        </div>
    </div>
</form>
<button type="button" class="btn btn-success mt-2 mb-4 mr-5" id="initial_sample_data">サンプルデータ作成</button>
<button type="button" class="btn btn-danger mt-2 mb-4" id="delete_data">サンプルデータ削除</button>
<div>
    <div class="d-flex">
        <p class="mr-2">登録ユーザー数:</p><p class="number_of_user"></p>
    </div>
    <div class="d-flex">
        <p class="mr-2">勤怠レコード数:</p><p class="number_of_record"></p>
    </div>
    <div class="d-flex">
        <p class="mr-2">修正申請数:</p><p class="number_of_fixrequest"></p>
    </div>
</div>
<div id="message" class="mt-2 ml-5">&nbsp;</div>

<div class="d-flex flex-row">
    <div>
        <button type="button" class="btn btn-primary mt-4 mb-4" id="csv">CSV出力</button>
    </div>
    <div class="mt-4 mb-4 ml-5">
        <button type="button" class="btn btn-primary" id="csv_detail">CSV出力(詳細)</button>
        <div class="form-group row ml-2">
            <div class="mt-2">
                <label for="control-label">取得期間(何ヶ月)</label>
            </div>
            <div class="ml-2">
                <select class="form-control" id="get_period">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </div>
        </div>
    </div>
</div>

{% if users %}
<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">氏名</th>
            <th scope="col">作成日数</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td><a href="{% url 'attendances_graph' user.id %}" target="_blank">{{ user.name }}</a></td>
            <td>{{ user.attendance_count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<script>

jQuery(function() {
    // 画面リロード時に「登録ユーザー数」、「勤怠レコード数」、「修正申請数」を取得
    getDataCount()
})

$('#fix_request').on('click', function() {
    // 修正申請がチェックされた時、値を1に変更
    if ($('#fix_request').val() == "0") {
        $('#fix_request').val("1")
    } else {
        $('#fix_request').val("0")
    }
    console.log($('#fix_request').val());
    if ($('#fix_request').is(':checked')) {
        // 修正申請がチェックされた場合、修正申請の諾否を活性にする
        $('#fix_request_accept').prop('disabled', false)
    } else {
        // 修正申請がチェックされていない場合、修正申請の諾否を非活性、未選択にする
        $('#fix_request_accept').prop('disabled', true)
        $("#fix_request_accept").removeAttr("checked").prop("checked", false).change();
        $('#fix_request_accept').val("0")
    }
})

$('#fix_request_accept').on('click', function() {
    // 修正申請がチェックされた時、値を1に変更
    if ($('#fix_request_accept').val() == "0") {
        $('#fix_request_accept').val("1")
    } else {
        $('#fix_request_accept').val("0")
    }
})

$('#period').change(function() {
    var period_val = $(this).val()
    if (period_val == 0) {
        // 作成期間（何ヶ月）が0の場合
        //  ①修正申請のセレクトボックス及び②修正申請の諾否のセレクトボックスは非活性で未選択状態
        $('#fix_request').prop('disabled', true)
        $("#fix_request").removeAttr("checked").prop("checked", false).change();
        $('#fix_request').val("0")
        $('#fix_request_accept').prop('disabled', true)
        $("#fix_request_accept").removeAttr("checked").prop("checked", false).change();
        $('#fix_request_accept').val("0")

    } else {
        // 作成期間（何ヶ月）が0でない場合、修正申請のセレクトボックスは活性
        $('#fix_request').prop('disabled', false)
        var fix_request_val = $('#fix_request').val()
    }
})

// サンプルデータを作成
$('#initial_sample_data').on('click', function() {
    console.log('サンプルデータボタンクリック');
    console.log('ユーザー人数:' + $('#number_of_people').val());
    console.log('作成期間（何ヶ月）:' + $('#period').val());
    console.log('修正申請:' + $('#fix_request').val());
    console.log('修正申請の諾否:' + $('#fix_request_accept').val());

    $.ajax({
        url: "{% url 'initial-data' %}",
        method: "GET",
        dataType: 'json',
        timeout: 5000,
        data :{
            number_of_people: $('#number_of_people').val(),
            period: $('#period').val(),
            fix_request: $('#fix_request').val(),
            fix_request_accept: $('#fix_request_accept').val()
        }
    })
    .done(function(data) {
        console.log(data);
        getDataCount()
        $('#message').text(data.result)
        console.log('サンプルデータ作成成功')
    })
    .fail(function(XMLHttpRequest, textStatus, textStatus) {
        console.log('サンプルデータ作成失敗');
    })
})

// サンプルデータを削除
$('#delete_data').on('click', function() {
    $.ajax({
        url: "{% url 'delete-data' %}",
        method: "GET",
        dataType: 'json',
        timeout: 5000,
    })
    .done(function(data) {
        console.log(data);
        getDataCount()
        $('#message').text(data.result)
        console.log('サンプルデータ削除成功')
    })
    .fail(function(XMLHttpRequest, textStatus, textStatus) {
        console.log('サンプルデータ削除失敗');
    })
})

// 各テーブルに登録されているデータ数をカウント
function getDataCount() {
    $.ajax({
        url: "{% url 'count-data' %}",
        method: "GET",
        dataType: 'json',
        timeout: 5000,
    })
    .done(function(data) {
        console.log('データ数カウント成功');
        console.log(data.count);
        $('.number_of_user').text(data.count[0]);
        $('.number_of_record').text(data.count[1]);
        $('.number_of_fixrequest').text(data.count[2]);
    })
    .fail(function(XMLHttpRequest, textStatus, textStatus) {
        console.log('データ数カウント失敗');
    })
}

// csvファイルを出力する処理
$('#csv').on('click', function() {
    $.ajax({
        url: "{% url 'create-csv' %}",
        method: "POST",
        timeout: 5000,
        beforeSend:function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    var csrfToken = getCookie("csrftoken");
                    xhr.setRequestHeader("X-CSRFToken", csrfToken);
                }
            }
    })
    .done(function(data) {
        console.log(data.result);
        $('#message').text(data.result)
        console.log('CSVファイル出力成功');
    })
    .fail(function(XMLHttpRequest, textStatus, textStatus) {
        console.log('CSVファイル出力失敗');
    })
})

//詳細情報記載のCSVファイルを出力する処理
$('#csv_detail').on('click', function() {
    console.log('csv_detail');
    console.log($('#get_period').val());
    $.ajax({
        url: "{% url 'create-csv-detail' %}",
        method: "POST",
        timeout: 5000,
        data: {
            get_period: $('#get_period').val()
        },
        beforeSend:function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                var csrfToken = getCookie("csrftoken");
                xhr.setRequestHeader("X-CSRFToken", csrfToken);
            }
        }
    })
    .done(function(data) {
        $('#message').text(data.result)
        console.log('CSV(詳細)ファイル出力成功');
    })
    .fail(function() {
        console.log('CSV(詳細)ファイル出力失敗');
    })
})

</script>
{% endblock  %}